/**
 * Created by akireyeu on 12.02.2020.
 */
.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px;
    padding: 10px;
}
.THIS .boxItem {
    display: flex;
    width: 20%;
}
.THIS .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.THIS .containerInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.THIS .slds-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}